.header {
    background-color: transparent;
    min-height: unset;
    position: absolute;
    z-index: 99;
    transition: background-color 200ms linear;
}

.header.active {
    position: fixed;
    top: 0;
    background-color: var(--black);
    transition: background-color 200ms linear;
}

.header .icon svg {
    fill: var(--white);
    width: 40px;
}

.header .icon svg:hover {
    cursor: pointer;
}

.header .row {
    width: 100%;
    min-height: unset;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 30px;
    margin: 0 auto;
    background-color: transparent;
}

.header .logo,
.footer .logo {
    width: 65px;
}

.footer-logo {
    font-family: 'termina', sans-serif;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    font-size: 26px;
}

.header .nav-logo {
    font-family: 'termina', sans-serif;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    font-size: 26px;
    margin: 0 auto;
}

.header .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.header.toggled {
    height: 100vh;
}

.header.toggled .nav-logo {
    display: none;
}

.navigation-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
    border-radius: 6px;
    width: 80%;
    height: 80%;
    position: fixed; 
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.navigation-box.active {
    opacity: 1;
    display: flex;
}

.navigation-box .navigation-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.navigation-box .navigation-content .nav {
    color: var(--white);
    font-size: 46px;
    font-weight: 700;
    transition: var(--transition);
}

.navigation-box .navigation-content .nav:hover {
    color: var(--white);
    transition: var(--transition);
}

.navigation-box .close {
    position: absolute;
    right: -20px;
    top: -20px;
    font-size: 20px;
    color: var(--white);
    background-color: var(--primary);
    padding: 15px;
    border-radius: 50%;
    transition: var(--transition);
}

.navigation-box .close:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: var(--transition);
}

.overlay.header-toggle {
    display: block;
    opacity: 0;
}

.overlay.header-toggle.active {
    opacity: 0.6;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.footer {
    min-height: unset;
    color: var(--white);
    background-color: var(--black);
}

.footer .row {
    min-height: unset;
    justify-content: space-between;
    margin: 30px auto;
    padding: 10px 30px;
}

.footer .row .col {
    gap: 0px;
}

.footer .row .col:nth-of-type(1) {
    flex: 1 0;
}

.footer .row .col:nth-of-type(2) {
    flex: 0 1 10%;
}

.footer .row .col:nth-of-type(3) {
    flex: 0 1 10%;
}

.footer .row a {
    color: var(--white);
}

.footer .row .socials-wrapper {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.footer .row .socials-wrapper a {
    color: var(--white);
    transition: var(--transition);
}

.footer .row .socials-wrapper a i {
    font-size: 20px;
}

.footer .row .socials-wrapper a:hover {
    color: var(--primary);
    transition: var(--transition);
}

.made-by {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.made-by p, 
.made-by a {
    color: var(--white);
    opacity: 0.7;
    transition: var(--transition);
}

.made-by a:hover {
    opacity: 1;
    transition: var(--transition);
}

@media (max-width: 760px) {
    .header .logo,
    .footer .logo {
        width: 65px;
    }

    .header .nav-logo {
        font-size: 16px;
    }

    .footer .row .col:nth-of-type(1),
    .footer .row .col:nth-of-type(2),
    .footer .row .col:nth-of-type(3) {
        flex: 1 0 100%;
    }

    .navigation-box {
        top: 40%;
        height: 60%;
    }

    .navigation-box .navigation-content .nav {
        font-size: 26px;
    }

    .navigation-box .close {
        font-size: 14px;
    }
}