.section.banner {
    background-image: url('/over-ons/img/banner.jpg');
}

.content.section .row {
    align-items: flex-start;
}

.image-outer-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
}

.image-outer-wrapper .image-wrapper {
    flex: 1 0 40%;
    display: flex;
}

.gallery-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
}

.gallery-wrapper .image-wrapper {
    flex: 1 0 35%;
    display: flex;
}

.gallery-wrapper .image-wrapper.large {
    flex: 1 0 60%;
}