.banner {
    justify-content: center;
    height: 100vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner h1,
.banner p {
    text-align: center;
}

.section.gallery .wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.section.gallery .project-wrapper .item {
    flex: 1 0 40%;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

.section.gallery .project-wrapper .item .content {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section.gallery .project-wrapper .item:hover .content {
    display: flex;
}

.section.gallery .project-wrapper .item .content h3,
.section.gallery .project-wrapper .item .content a {
    color: var(--white);
    text-align: center;
}

.section.gallery .project-wrapper .item:hover img {
    transform: scale(1.05);
    transition: var(--transition);
}

.section.gallery .project-wrapper .item img {
    height: 100%;
    transition: var(--transition);
}

.item-link {
    flex: 1 0 40%;
    display: block;
    text-decoration: none;
}

.item {
    position: relative;
}

.item img {
    max-width: 100%;
    height: auto;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.read-more {
    color: #fff;
}

.project-wrapper .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0;
    transition: var(--transition);
}

.project-wrapper .item-link:hover .overlay {
    background: var(--black);
    opacity: 0.6;
    transition: var(--transition);
}

@media (max-width: 560px) {
    .banner h1,
    .banner p {
        width: 100%;
    }

    .section.gallery .project-wrapper .item .content h3 {
        font-size: 12px;
    }

    .section.gallery .project-wrapper .item .content a {
        font-size: 12px;
    }

    .section.gallery .project-wrapper .item .content {
        display: flex;
    }

    .project-wrapper .item .overlay {
        opacity: 0.6;
    }
}